body{
    background-color: #505A5C;
      color: #F2F2F2;
  font-family: "Viaoda Libre", serif;
}
.viaoda-libre-regular {
    font-family: "Viaoda Libre", serif;
    font-weight: 800;
    font-style: normal;
    font-size: 40px;
  }
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.viaoda-libre-regular {
  font-family: "Viaoda Libre", serif;
  font-weight: 800;
  font-style: normal;
  font-size: 40px;
}

header {
  position: relative;
  background-color: #3F858C;
  box-shadow: 0 2px 10px rgba(0,0,0,0.4);
}

.navbar {
  overflow: hidden;
  background-color: #3F858C;
}

.navbar a {
  float: left;
  display: block;
  color: #222326;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-weight: bold;
}

.navbar a:hover {
  background-color: #7AB8BF;
  color: #373740;
}
#msg {
    display: flex;                 /* Define o elemento como um container flexível, permitindo organizar itens em linha */
    align-items: center;           /* Alinha os itens verticalmente ao centro dentro do container */
    gap: 1rem;                     /* Espaçamento entre os elementos internos */

    width: 30%;                    /* Define que o elemento ocupará 30% da largura do container pai */
    flex: 1;                       /* Permite que o elemento cresça proporcionalmente dentro de um layout flex */
    margin-bottom: 0.5rem;         /* Espaço abaixo do elemento, para separar de outros abaixo */

    padding: 0.75rem;              /* Espaçamento interno, dando “respiro” ao conteúdo */
    background: #f5f5f5;           /* Cor de fundo suave e clara */
    border-radius: 8px;            /* Arredonda os cantos do elemento */
    border: 1px solid #e0e0e0;     /* Borda leve e discreta */

    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.08); /* Sombra suave para dar profundidade */
}

header h3 {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  color: #F2F2F2;
  padding: 10px 0;
}
footer {
  background-color: #3F858C;
  color: #F2F2F2;
  text-align: center;
  padding: 15px 0;
  font-size: 16px;
  position: fixed; /* fica grudado no fim da tela */
  bottom: 0;
  left: 0;
  width: 100%;
  box-shadow: 0 -2px 10px rgba(0,0,0,0.4);
}